<ion-view id="home">
  <ion-nav-title>
    <div class="titulos"> INST. PADRE HAROLDO</div>
  </ion-nav-title>
  <ion-content class="fundo">
    <img src="/img/padrePreto.jpg" class="logo preto" style="height: 250px">
    <figcaption class="msg">BEM-VINDO (A)</figcaption>
    <div class="list-card">

      <article lang="pt" class="fundo_1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tristique lorem. Duis eu rhoncus elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam quis tellus urna. Duis vitae sapien quam. Vivamus bibendum, erat id pretium accumsan,
      </article>
      <br>
      <article lang="pt" class="fundo_2">
        nulla augue efficitur purus, nec aliquam dui lectus vel arcu. Etiam pulvinar, arcu vel vestibulum tincidunt, dui nulla consectetur arcu, id tristique dui lorem id augue. Sed tristique viverra lacus at fermentum.
      </article>
      <article lang="pt" class="fundo_1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tristique lorem. Duis eu rhoncus elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam quis tellus urna. Duis vitae sapien quam. Vivamus bibendum, erat id pretium accumsan.
      </article>
      <br>
      <article lang="pt" class="fundo_2">
        Etiam in dignissim felis, eu pellentesque risus. Cras viverra magna eget enim lobortis blandit. Aliquam posuere ac justo vitae rhoncus. Donec dapibus posuere dui, eget efficitur felis tincidunt ut.
      </article>
    </div>
  </ion-content>
</ion-view>
