<ion-view id="sobre">
  <ion-nav-title>
    <div class="titulos">SOBRE</div>
  </ion-nav-title>
  <ion-content class="fundo">
    <img src="img/bonequinhos.jpg" class="logo" style="height: 250px">
    <figcaption class="msg">SOBRE NÓS
      <div class="row" style="float: right">
        <div class="col col-20">
          <button ng-click="openInstagram()" class="button button-clear button-light ion-social-instagram" style="font-size: 25px"></button>
        </div>
        <div class="col col-20">
          <button ng-click="openTwitter()" class="button button-clear button-light ion-social-twitter" style="font-size: 25px"></button>
        </div>
        <div class="col col-20">
          <button ng-click="openFacebook()" class="button button-clear button-light ion-social-facebook" style="font-size: 25px"></button>
        </div>
        <div class="col col-20">
          <button ng-click="openLinkedin()" class="button button-clear button-light ion-social-linkedin" style="font-size: 25px"></button>
        </div>
      </div>
    </figcaption>
      <article lang="pt"> <!--class="fundo_1"-->
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tristique lorem. Duis eu rhoncus elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam quis tellus urna. Duis vitae sapien quam. Vivamus bibendum, erat id pretium accumsan.
      </article>
      <article lang="pt"> <!--class="fundo_1"-->
        Etiam in dignissim felis, eu pellentesque risus. Cras viverra magna eget enim lobortis blandit. Aliquam posuere ac justo vitae rhoncus. Donec dapibus posuere dui, eget efficitur felis tincidunt ut.
      </article>
      <article lang="pt"> <!--class="fundo_1"-->
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tristique lorem. Duis eu rhoncus elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam quis tellus urna. Duis vitae sapien quam. Vivamus bibendum, erat id pretium accumsan.
      </article>
      <article lang="pt"> <!--class="fundo_1"-->
        Etiam in dignissim felis, eu pellentesque risus. Cras viverra magna eget enim lobortis blandit. Aliquam posuere ac justo vitae rhoncus. Donec dapibus posuere dui, eget efficitur felis tincidunt ut.
      </article>
      <img src="img/paraSobre.jpg" class="logo">
  </ion-content>
</ion-view>
