<ion-view id="tuto">
  <ion-nav-title>
    <div class="titulos">TUTORIAIS</div>
  </ion-nav-title>
    <ion-tabs class="tabs-light tabs-icon-top">
      <ion-tab title="Scan" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline">
        <ion-view>
          <ion-content overflow-scroll="true">
            <div>
              <div class="list-card" style="text-align: center">
                <article lang="pt-BR" class="fundo_1">
                  Para realizar uma doação pelo método de Scan, você deve entrar na tela de doações e clicar no botão 'Scan'.
                </article>
                <div class="fundo" style="position: relative">
                  <img src="img/scan_1.png" class="logo">
                </div>
                <article lang="pt" class="fundo_2">
                  Essa ação irá abrir a câmera do seu celular ou retornar uma mensagem de erro caso isso não seja possível de ser realizado.
                </article>
                <article lang="pt" class="fundo_1">
                  Agora, posicione a sua câmera para centralizar o seu código de barras ou QR code no centro do leitor.
                </article>
                <br>
                <article lang="pt" class="fundo_2">
                  Pronto! A leitura é automática, assim que a nota for centralizada. A sua doação, se possível de ser feita, está concluída.
                </article>
                <article lang="pt" class="fundo_1">
                  O Instituto Padre Haroldo agradece a sua doação.
                </article>
              </div>
            </div>
          </ion-content>
        </ion-view>
      </ion-tab>
      <ion-tab title="Inserção" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline">
        <ion-view>
          <ion-content overflow-scroll="true">
            <div>
              <div class="list-card" style="text-align: center">
                <article lang="pt" class="fundo_1">
                  Para realizar uma doação pelo método de Inserção, você deve entrar na tela de doações e clicar no botão 'Inserção'.
                </article>
                <div class="fundo" style="position: relative">
                  <img src="img/insercao_1.png" class="logo">
                </div>
                <article lang="pt" class="fundo_2">
                  Você agora, deverá preencher os campos que aparecerão a seguir com as informações presentes na sua nota fiscal.
                </article>
                <article lang="pt" class="fundo_1">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tristique lorem. Duis eu rhoncus elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam quis tellus urna. Duis vitae sapien quam. Vivamus bibendum, erat id pretium accumsan.
                </article>
                <br>
                <article lang="pt" class="fundo_2">
                  Etiam in dignissim felis, eu pellentesque risus. Cras viverra magna eget enim lobortis blandit. Aliquam posuere ac justo vitae rhoncus. Donec dapibus posuere dui, eget efficitur felis tincidunt ut.
                </article>
                <br>
              </div>
            </div>
          </ion-content>
        </ion-view>
      </ion-tab>
      <ion-tab title="Imposto de Renda" icon-on="ion-document-text" icon-off="ion-document">
        <ion-view>
          <ion-content overflow-scroll="true">
            <div>
              <div class="list-card">
                <article lang="pt" class="fundo_1">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tristique lorem. Duis eu rhoncus elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam quis tellus urna. Duis vitae sapien quam. Vivamus bibendum, erat id pretium accumsan,
                </article>
                <br>
                <article lang="pt" class="fundo_2">
                  Etiam in dignissim felis, eu pellentesque risus. Cras viverra magna eget enim lobortis blandit. Aliquam posuere ac justo vitae rhoncus. Donec dapibus posuere dui, eget efficitur felis tincidunt ut.
                </article>
                <article lang="pt" class="fundo_1">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tristique lorem. Duis eu rhoncus elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam quis tellus urna. Duis vitae sapien quam. Vivamus bibendum, erat id pretium accumsan.
                </article>
                <br>
                <article lang="pt" class="fundo_2">
                  Etiam in dignissim felis, eu pellentesque risus. Cras viverra magna eget enim lobortis blandit. Aliquam posuere ac justo vitae rhoncus. Donec dapibus posuere dui, eget efficitur felis tincidunt ut.
                </article>
                <br>
              </div>
            </div>
          </ion-content>
        </ion-view>
      </ion-tab>
    </ion-tabs>
</ion-view>

